:root {
  --text-color: white;
  --bg-url: url(./IMG/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./IMG/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./IMG/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(0, 0, 0, 0.2);
  --switch-bg-url: url(./IMG/sun.svg);
}

body * {
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

body {
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 100vh;
}

#container {
  width: 360px;
  max-width: 400px;
  margin: auto;
  padding: 0 24px;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
  font-size: 16px;
}

#switch {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  left: 0;
  z-index: 1;
  animation: slide-back 0.5s;
}

#switch button:active {
  outline: 8px solid var(--highlight-color);
}

.light #switch button {
  animation: slide-in 0.5s forwards;
}

#switch button:hover {
  cursor: pointer;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;
  z-index: 0;
}

#links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

#links li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  transition: background 0.5s;
}

#links li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#sociallinks {
  display: flex;
  gap: 16px;
  padding: 24px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

#sociallinks a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.5s;
  border-radius: 50%;
}

#sociallinks a:hover {
  background: var(--highlight-color);
  padding: 16px;
}

footer {
  padding: 16px 0;
  text-align: center;
  font-size: 14px;
  color: var(--text-color);
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./IMG/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./IMG/bg-desktop-light.jpg);
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
